.login-main-component {
  display: flex;
  justify-content: center;
}
.login-main {
  background-image: url('../public/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 75px;
}
.lableText {
  font-weight: bold;
}
.loginCard {
  width: 500px;
  padding: 25px;
}
.loginBtn {
  width: 280px;
  margin-top: 20px;
  font-weight: 500;
  height: 50px;
  border-radius: 5px;
}

.home {
  background-image: url('../public/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}
.loginBtns {
  margin: 10px 45px;
  width: 300px;
}



.phone{
    margin-bottom: 100px;
}